.container{
    z-index: 200;
    position: absolute;
    height: 90vh;
    width: 75%;
    left: 12%;
    top: 10%;
}

.container__wraper{
    position: relative;
    color: azure;
    width: auto;
    height: 100%;
    padding: 0.5%;
    background: #1a1a1a75;
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 32px; 
    border-bottom-right-radius: 32px;
     p {
        font-size: 18px;
     }
    .container__content{
        overflow-y: scroll;
        overflow-x: hidden;
        width: auto;
        padding: 0.5%;
        height: 92%;
        
        &::-webkit-scrollbar {
            width: 4px;
          }
          
          &::-webkit-scrollbar-thumb {
            border-radius: 1px;
            background-color: #a1a0a01a;
          }
          
          &::-webkit-scrollbar-track {

            border-radius: 1px;
            background-color: #85858500;
          }
     }

}

// .post_item {
//     display: flex;
//     margin-bottom: 1%;

//     img{
//         height: 250px;
//         width: 600px;
//     }
// }

// .post_descr{
//     margin-left: 40px;
//     a, h2{
//         line-height: 25px;
//         margin-top: 5px;

//     }
// }


