.cards__wrapper{
    display: flex;
    width: 95%;
    height: 580px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
}
.cards__inner {
    height: 100%;
    width: 200%;
    display: flex;
}
.agent-title{
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 20px;
    writing-mode: vertical-rl;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 110px;
    line-height: 110px;
    letter-spacing: 0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #1F2326;
    
}
